<h1>Log In Page</h1>
<hr/>

<% if @login_error %>
  <div>
    <strong>Wrong username or password</strong>
  </div>
<% end %>

<form action="/login" method="post">
  <div>
    <label>Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label>Passowrd:</label>
    <input type="text" name="password">
  </div>
  <div>
    <input type="submit" value="Login">
  </div>
</form>